@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bootstrap-variables";

/*Master page*/
body {
    padding-top: 50px;
    padding-bottom: 20px;
}
/*End Master Page*/

.field-validation-error{
    color:red;
}