@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesMain>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}

<div class="container-fluid">
    @{
        var selection = CurrentPage.Site().FirstChild("articlesMain").Children("articleItem").Where("Visible").OrderBy("UpdateDate desc");
    }
    <ul>
        @foreach (var item in selection)
        {
            <li>
                <a href="@item.Url">@item.Name</a>
            </li>    }
    </ul>
</div>
