@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProjectItem>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = "Master.cshtml";
}
<div class="container-fluid">
    <div>
        <div><h4>Title:</h4></div>
        <div> @Umbraco.Field("projectTitle")</div>
    </div>
    <div>
        <div>
            <h4> Content:</h4>
        </div>
        <div>
            @Umbraco.Field("projectDescription")
        </div>
    </div>
    <div>
        <div>
            <h4> Project Status:</h4>
        </div>
        <div>
            @Umbraco.Field("projectStatus")
        </div>
    </div>
    @if (Model.Content.Parent != null && Model.Content.Level > 2)
    {
        <a href="@Model.Content.Parent.Url" class="button back-button">Back</a>
    }
</div>