<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT aboutPage ANY>
<!ATTLIST aboutPage id ID #REQUIRED>
<!ELEMENT articleItem ANY>
<!ATTLIST articleItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT contactPage ANY>
<!ATTLIST contactPage id ID #REQUIRED>
<!ELEMENT forbiddenAccess ANY>
<!ATTLIST forbiddenAccess id ID #REQUIRED>
<!ELEMENT homepage ANY>
<!ATTLIST homepage id ID #REQUIRED>
<!ELEMENT login ANY>
<!ATTLIST login id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT projectItem ANY>
<!ATTLIST projectItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT sitemap ANY>
<!ATTLIST sitemap id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>
<!ELEMENT userMessage ANY>
<!ATTLIST userMessage id ID #REQUIRED>

]>
<root id="-1">
  <homepage id="1080" key="b61ddfa0-c708-47ac-b0ee-d4f2ccc4ef43" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-12T11:51:55" updateDate="2016-03-04T06:00:24" nodeName="Homepage" urlName="homepage" path="-1,1080" isDoc="" nodeType="1079" creatorName="Piotr S" writerName="Piotr S" writerID="0" template="1078" nodeTypeAlias="homepage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <siteTitle><![CDATA[Aarhus Developers]]></siteTitle>
    <logo>1067</logo>
    <mainContent><![CDATA[<p>ehhh</p>]]></mainContent>
    <aboutPage id="1084" key="f5537b24-ab54-4588-b9de-06a30d10e018" parentID="1080" level="2" creatorID="0" sortOrder="0" createDate="2016-03-04T05:19:19" updateDate="2016-03-28T23:34:26" nodeName="About Page" urlName="about-page" path="-1,1080,1084" isDoc="" nodeType="1083" creatorName="Piotr S" writerName="Piotr S" writerID="0" template="1085" nodeTypeAlias="aboutPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <grid><![CDATA[{
  "name": "Full Width Article",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline"
              ],
              "config": {},
              "styles": {},
              "hasConfig": false,
              "controls": [
                {
                  "value": "Here's some headline",
                  "editor": {
                    "alias": "headline"
                  },
                  "active": false
                }
              ]
            }
          ],
          "styles": {},
          "config": {},
          "hasConfig": false,
          "id": "6829d255-f787-3e43-5f0d-ab45a8ba86a8"
        },
        {
          "name": "Image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1067,
                    "image": "/media/1001/logo.png",
                    "altText": "Logo"
                  },
                  "editor": {
                    "alias": "media"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "f0ac45ee-bbdc-a51a-d0e9-721a22f5a7e2"
        },
        {
          "name": "Content",
          "areas": [
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Vision</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>People</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte"
              ],
              "hasConfig": false,
              "controls": [
                {
                  "value": "<p>Skill</p>",
                  "editor": {
                    "alias": "rte"
                  },
                  "active": false
                }
              ]
            }
          ],
          "hasConfig": false,
          "id": "3efd7d13-a2d2-864d-cc5c-0f75c4291fc8"
        }
      ]
    }
  ]
}]]></grid>
    </aboutPage>
    <contactPage id="1096" key="c01bad52-25de-44bb-b901-383d1481c93d" parentID="1080" level="2" creatorID="0" sortOrder="1" createDate="2016-03-28T23:33:09" updateDate="2016-03-29T00:24:16" nodeName="Contact Us" urlName="contact-us" path="-1,1080,1096" isDoc="" nodeType="1095" creatorName="Piotr S" writerName="Piotr S" writerID="0" template="1094" nodeTypeAlias="contactPage">
      <hideFromSitemap>0</hideFromSitemap>
      <umbracoNaviHide>0</umbracoNaviHide>
    </contactPage>
    <sitemap id="1092" key="36e69897-6fca-4a45-bd27-68a5ee233ece" parentID="1080" level="2" creatorID="0" sortOrder="4" createDate="2016-03-22T14:36:53" updateDate="2016-03-22T14:37:45" nodeName="Sitemap" urlName="sitemap" path="-1,1080,1092" isDoc="" nodeType="1089" creatorName="Piotr S" writerName="Piotr S" writerID="0" template="1088" nodeTypeAlias="sitemap">
      <hideFromSitemap>1</hideFromSitemap>
      <umbracoNaviHide>1</umbracoNaviHide>
    </sitemap>
    <forbiddenAccess id="1130" key="2229c11c-4b60-45a2-bfdb-b97138cc2830" parentID="1080" level="2" creatorID="0" sortOrder="6" createDate="2016-03-29T20:58:03" updateDate="2016-03-29T21:43:58" nodeName="Forbidden Access" urlName="forbidden-access" path="-1,1080,1130" isDoc="" nodeType="1129" creatorName="Piotr" writerName="Piotr" writerID="0" template="1128" nodeTypeAlias="forbiddenAccess">
      <hideFromSitemap>1</hideFromSitemap>
      <umbracoNaviHide>1</umbracoNaviHide>
    </forbiddenAccess>
    <members id="1131" key="0404ee92-6b3c-4dcd-abe1-aca6f3fadf57" parentID="1080" level="2" creatorID="0" sortOrder="7" createDate="2016-03-29T20:58:19" updateDate="2016-03-29T21:05:35" nodeName="Members" urlName="members" path="-1,1080,1131" isDoc="" nodeType="1127" creatorName="Piotr" writerName="Piotr" writerID="0" template="1126" nodeTypeAlias="members">
      <hideFromSitemap>0</hideFromSitemap>
      <umbracoNaviHide>1</umbracoNaviHide>
    </members>
    <login id="1133" key="437b7be4-d667-4833-a835-1b5a3445b025" parentID="1080" level="2" creatorID="0" sortOrder="8" createDate="2016-03-29T21:13:20" updateDate="2016-03-29T21:34:56" nodeName="Login" urlName="login" path="-1,1080,1133" isDoc="" nodeType="1132" creatorName="Piotr" writerName="Piotr" writerID="0" template="1122" nodeTypeAlias="login">
      <hideFromSitemap>1</hideFromSitemap>
      <umbracoNaviHide>1</umbracoNaviHide>
    </login>
  </homepage>
</root>